<% provide(:title, "Application Forms") %>
<script>
$(document).ready(function(){$("body").hide().fadeIn(1000);});
</script>

<h1>Application Forms</h1>
<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-4">
        <div class="btn btn-warning btn-block"><%= link_to 'Leave Request', :action => :holidayreq %></div>
        <div class="btn btn-warning btn-block"><%= link_to 'Flexi Application', :action => :flexiapp %></div>
          </div>

          <div class="col-md-4">
          </div>

          <div class="col-md-4">
          </div>

      </div>
  </div>
</div>
