<% provide(:title, "Help") %>
<!DOCTYPE html>
<script>
$(document).ready(function(){$("body").hide().fadeIn(1000);});
</script>
<html>

  <body>
  <h1>Knowledge Base</h1>
    <p>
      This is the knowledge base help section
    </p>
  </body>
</html>
