<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>

  <body>

    <p>
      <div class="center jumbotron">
      <h1>PescadoHRIS</h1>
      <p>The new Human Resources information and support system</p>
      <%= link_to "Login", login_path, class: "btn btn-warning" %>
    </div>

    <%= link_to image_tag("ruby-on-rails.png", size: "50x70", alt: "rails logo"), 'http://ruby-on-rails.org/' %>

    </p>
  </body>
</html>
