<% provide(:title, "Welcome") %>
<!DOCTYPE html>
<script>
$(document).ready(function(){$("body").hide().fadeIn(1000);});
</script>

<body>
<h1> Welcome to PescadoHRIS </h1>


		<div class="col-md-8">
			<div class="well">
			<img src="/assets/fishschool.jpg" alt="school">
			<h3>
				Every growing business needs a place to keep all the docs, book in the hols and manage performance.
				For Pescado, there is People Power. For a full list of what you can do here;
				<p>
					<br>
				<ul justify="left">
					<li>Access and download information</li>
					<li>Knowledge Base - document repository</li>
					<li>View the employee handbook</li>
					<li>Checkout company benefits</li>
					<li>Book annual leave</li>
					<li>Log and track training and appraisals</li>
					<li>Access pension services</li>
					<li>Access voucher schemes</li>
				</ul>



			</h3>
			</div>
		</div>
<script>
twttr.widgets.createTimeline(
  {
    sourceType: "profile",
    screenName: "TwitterDev"
  },
  document.getElementById("container")
);


</script>

		<div class="col-md-4">
			<div class="well">
				<a class="twitter-timeline" href="https://twitter.com/PescadoGroup?ref_src=twsrc%5Etfw" data-tweet-limit="2">Tweets by PescadoGroup</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</a>

</a>
				
						
			</div>
		</div>

</body>
</html>





