<% provide(:title, "All People") %>

<div class="row">
  <div class="col-md-6">
<h1>Pescado People</h1>
    </div>
    <div class="col-md-6">
      <h1>Pescado Chat</h1>
    </div>
</div>


      <div class="row">
        <div class="col-md-6">


            <%= will_paginate %>
          <ul class="users">
            <li>
                <% @users.each do |user| %><p>
                <%= gravatar_for user, size: 20 %>
                <%= link_to user.name, user %>
            </li>
                <% end %>
          </ul>
           <%= will_paginate %>
      </div>
    </div>

    
                      <div class="col-md-6">
                    </div>

