<% provide(:title, 'New Employee') %>
<% provide(:button_text, 'Connect to system') %>

<h1>New User</h1>

<div class="container-fluid">
  <div class="col-md-6">
      <h1>System Access Details</h1>
      <%= render 'form' %>
  </div>
</div>
