<<<<<<< HEAD
<% provide(:title, "Leave") %>
=======
>>>>>>> 6178b45cc6cd325010da6b71171f035b3e6e3c6d
<DOCTYPE! html>

<h1>My Leave Request</h1>



<<<<<<< HEAD
<button type="button" class="btn btn-warning"><%= link_to "New Leave Request", '/leaves/new' %></button>


<div class="well">


 
</div>
=======
<button type="button" class="btn btn-warning"><%= link_to "New Leave Request", '/leave/new' %></button>

>>>>>>> 6178b45cc6cd325010da6b71171f035b3e6e3c6d
</html>