
<% provide(:title, "Leave Requests") %>



<h1>My Leave Requests</h1>

                <% if @user.leaves.any? %>
                    <%= render @leaves %>            
              <% end %>


<%= render 'shared/leave' %>

 
